//@import "foundation/normalize";
//@import "foundation/foundation";

@import "libs/variables";
@import "libs/mixins";
@import "libs/fonts";

@import "components/header";
@import "components/footer";

.i{
    color: #00e;
    background: #001;
}
body{
    background: #fff;
    color: #000;

}
* {
    color: blue !important;
}
