


///// RESPONSIVE

@media (max-width: 1024px) {
  .container-h .full-logo .line {
    text-align: center;
    img {
      display: inline-block;
    }
  }
}
@media only screen and (max-width: 640px) {
  #footer {
    text-align: center;
    .copy {
      margin: 0;
      width: 100%;
      padding: 0 15px 10px;
    }
    .soc {
      margin: 0 auto;
      padding: 0 15px;
      float: none !important;
      display: inline-block;
    }
  }
  .container-h {
    padding-top: 22px;
    .full-logo {
      display: block;
      width: 100%;
      padding: 0 15px;
      margin: 20px 0 10px;
      img {max-width: 120px;}
      //        margin-top: 20px;
      .line {
        &:after {
          display: none;
        }
      }
    }
    .body {
      padding: 0 15px;
      margin: 0;
      display: block;
      width: 100%;
      .h {
        font-size: 27px;
        line-height: 32px;
        text-align: center;
      }
    }
  }
  #header.menu {
    z-index: 180;
    .text_menu {
      padding-bottom: 5px;
    }
    width: 160px;
    margin-left: -80px;
    .navbar-brand {
      display: none;
    }
    &.show .primary-nav {
      padding: 0;
      background-color: rgba(0, 0, 0, 0.9);
      .nav li:last-child {

        padding-bottom: 15px;
      }
    }
  }
  .bx-wrapper .bx-pager.bx-default-pager {
    z-index: 9999999;
    bottom: 20%;
    a {
      @include square(18px);
    }
  }




}
@media only screen and (max-width: 480px) {
  .container-h {
    .full-logo {
      img {



        max-width: 150px;

      }

      margin-bottom: 20px;
    }
    .body {
      .h {
        text-align: center;
        font-size: 24px;
        line-height: 30px;
      }
    }
  }
}

